# Entorno de ejecución (development | production | test)
NODE_ENV=development

# Puerto del servidor backend
PORT=4000

# URL de conexión a PostgreSQL para Prisma
DATABASE_URL="postgresql://nomina_user:nomina_password_seguro_2026@localhost:5432/nomina_db?schema=public"

# URL permitida para solicitudes CORS desde el Frontend
FRONTEND_URL="http://localhost:5173"

# Seguridad y Autenticación JWT (Parte 3)
JWT_SECRET="nomina_jwt_secret_super_seguro_produccion_2026_financorp"
JWT_EXPIRES_IN="8h"

# Configuración de Servidor de Correo SMTP (Nodemailer)
SMTP_HOST="smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER=""
SMTP_PASSWORD=""
MAIL_FROM="nomina@financorp.com"

# Directorio de Almacenamiento Persistente para Volantes PDF
PDF_STORAGE_DIR="./storage/pdfs"

