# Entorno de ejecución (development | production | test)
NODE_ENV=development

# Puerto del servidor backend
PORT=4000

# URL de conexión a PostgreSQL para Prisma
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nomina_db?schema=public"

# URL permitida para solicitudes CORS desde el Frontend
FRONTEND_URL="http://localhost:5173"
